.input-container{
    background-color:#fff;
    border-radius: 0 0 5px 5px;
    box-sizing: content-box;
    height: 35px;
    width: 100%;
    .padding{
        padding: 8x;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
