table{
    background-color:#fff;
    border-radius: 15px 15px 0 0;
    box-sizing: content-box;
    opacity: 0.6;
    width: 100%;
    tr{
        th{
            font-family: 'Muli', sans-serif;
            padding: 25px;
        }
    }
}

#porcentaje-th{
    padding-right: 36px;
}